*{
  color: orange;
}

h1{
  background-color: steelblue;
  color:white;
  margin: auto;
  height:auto;
  text-align: center;
  text-transform: uppercase;
}

body{
  background-color: black;
}

.game-toggle{
  background-color: white;
  text-align: center;
}

button{
  color: steelblue;
  text-transform: uppercase;
  border: 0;
  font-size: inherit;
}
#RGBCO{
  text-transform: uppercase;
}
.squares{
  float: left;
  width:30%;
  padding-bottom: 30%;
  background-color: black;
  margin: 1.66%;
  border-radius:20%;
}

#container{
  max-width: 600px;
  margin: auto;
}
